* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App {
   
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid green;
    margin-top: 15px; 
    justify-content: space-between;
    align-items: center;
}
.remove-btn {
    margin-right: 0.5rem;
}
.btn {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: red;
        color: #FFF;
    opacity: 0.3;
        transition: opacity 0.3s;
}

.btn:hover {
   opacity: 1;
   
}
.open__btn {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: teal;
        color: #FFF;
    opacity: 0.3;
        transition: opacity 0.3s;
}

.open__btn:hover {
   opacity: 1;
   
}

.post__btns{
    display: flex;
}

.post-enter {
    transform: translateX(350px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.page{
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}
.page:not(:last-child) {
    margin-right: 10px; 
}

.page__current{
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: lightgray;
}
.navbar__links {
    margin-left: auto;
}
.navbar__links a{
   margin-left: 15px;
}